.layout-container{
    display:flex;
    min-height:100vh;
    background:#f8fafc;
}
body.dark .layout-container{
    background:#0f172a;
}
.main-content{
    flex:1;
    margin-left:270px;
    margin-top:80px;
    padding:35px;
    overflow:auto;
}