.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h3 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.sidebar li:hover {
  background-color: #334155;
}