.dashboard-container {
  display: flex;
}
.dashboard-content {
  padding: 30px;
  flex: 1;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  width: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  text-align: center;
}
.welcome {
  font-size: 18px;
  color: #555;
  margin: 10px 0 25px;
  font-weight: 500;
}