.footer{

    position:fixed;

    bottom:0;

    left:250px;

    right:0;

    height:50px;

    background:#1565C0;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:15px;

    box-shadow:0 -2px 8px rgba(0,0,0,.2);

}

@media(max-width:768px){

.footer{

left:200px;

}

}

@media(max-width:600px){

.footer{

left:0;

}

}