*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f4f7fb;
}

a{
text-decoration:none;
}

button{
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px;
text-align:center;
border-bottom:1px solid #ddd;
}

input,
select{
width:100%;
padding:10px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:8px;
}

button{
padding:10px 18px;
border:none;
border-radius:8px;
background:#1565C0;
color:white;
}

button:hover{
background:#0D47A1;
}
body.light{
    background:#f5f7fa;
    color:#222;
    transition:.3s;
}

body.dark{
    background:#1e293b;
    color:white;
    transition:.3s;
}

body.dark .card,
body.dark table,
body.dark .theme-box,
body.dark .login-card,
body.dark .register-card{
    background:#334155;
    color:white;
}

body.dark input{
    background:#475569;
    color:white;
}

body.dark th{
    background:#0f172a;
}

body.dark td{
    color:white;
}