.home {
  text-align: center;
  padding: 50px;
}

.home h1 {
  color: #2563eb;
  font-size: 35px;
}

.home p {
  font-size: 18px;
}


.buttons button {
  margin: 20px;
  padding: 12px 25px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}


.card {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}
