.student-table{
    margin-top:30px;
}

.student-table table{
    width:100%;
    border-collapse:collapse;
}

.student-table th,
.student-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.student-table th{
    background:#2563eb;
    color:white;
}

.edit-btn{
    background:#16a34a;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-right:8px;
}

.edit-btn:hover{
    background:#15803d;
}

.delete-btn{
    background:#dc2626;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#b91c1c;
}