.not-found{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:80vh;

}

.not-found h1{

font-size:100px;

color:#1565C0;

margin:0;

}

.not-found h2{

margin:10px 0;

}

.not-found button{

padding:12px 25px;

background:#1565C0;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

margin-top:20px;

}

.not-found button:hover{

background:#0D47A1;

}